@model CESAPSCOREWEBAPP.Models.Organiz

@{
    ViewData["Title"] = "ผังองค์กรและอัตรากำลัง";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
                + "<li>"
                + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
                + "</li>"
                + "<li>"
                + "<a href='/Organizs/Index' data-toggle='tooltip' data-placement='top' title='List'>รายการผังองค์กรและอัตรากำลัง</a>"
                + "</li>"
                + "<li class='active'>"
                + "<b><a data-toggle='tooltip' data-placement='top' title='Add Title Of Users'>" + @ViewData["Title"] + "</a></b>"
                + "</li>"
                + "</ol>";
}
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="organizId" />
    <div class="col-sm-6 col-lg-6 col-md-6 col-lg-offset-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@ViewData["Title"]</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="form-group">
                            <label class="control-label">ฝ่าย</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">แผนก</label>
                            <select asp-for="Department1Id" class="form-control" asp-items="ViewBag.Department1Id"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">ตำแหน่ง</label>
                            <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">อัตรากำลัง</label>
                            <input asp-for="Power" class="form-control" />
                            <span asp-validation-for="Power" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="บันทึก" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Save" />
            <a asp-action="Index" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Back to List">กลับรายการ</a>
        </div>
    </div>
</form>