@{
    ViewData["Title"] = "C.E.S. Meeting";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
                 + "<li>"
                 + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
                 + "</li>"
                 + "<li>"
                 + "<li class='active'>"
                 + "<b><a data-toggle='tooltip' data-placement='top' title='Add Title Of Users'>" + @ViewData["Title"] + "</a></b>"
                 + "</li>"
                 + "</ol>";
}

<div class="col-xs-12 col-sm-12  col-md-12 col-lg-12" style="height: 100vh; /* For 100% screen height */">
    <iframe src="//meeting.ces.co.th/Web/?" style="border: 0; width: 100%; height: 100%">Your browser doesn't support iFrames.</iframe>
</div>