
@{
    ViewData["Title"] = "Transfer to Location";
}

<style>
    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }
</style>






<div class="spiner-example" id="popup" style="display:none">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>


<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@ViewData["Title"]</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    <label>Job : </label>
                    <select class="form-control" asp-items="ViewBag.JobNo" id="joblist" onchange="showListHistory(this)"></select>
                </div>
            </div>


            <button class="btn btn-primary dim btn-dim" type="button" onclick="updatedata();"><i class="fa fa-file-pdf-o"></i> Update Data</button>
        </div>
    </div>
</div>



<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>รายละเอียด </h5>

        <div class="ibox-tools">
            <table border="0" cellspacing="5" cellpadding="5" class="pull-right">
                <tbody>
                    <tr>
                        <th>Search By FixAsset No.</th>
                        <th><input type="text" class="form-control" id="column0_search"></th>

                        <th>   Search By Item Code:</th>
                        <th><input type="text" class="form-control" id="column3_search"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ibox-content">


        <div class="table-responsive">

            <table id='example' class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th align='center'>Action</th>
                        <th align='center'>FA.No.</th>
                        <th align='center'>Desc.</th>
                        <th align='center'>Desc2.</th>
                        <th align='center'>PC No.</th>
                        <th align='center'>PC Desc.</th>
                        <th align='center'>Location</th>
                        <th align='center'>Qty.</th>
                        <th align='center'>Confirm Qty.</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="title"></span></h4>
            </div>    <!-- Modal content-->
            <div class="modal-body">
                <table id="example1" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<div id="myModalItem" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">บันทึกข้อมูลเข้าหน่วยงาน <span id="site"></span> </h4>
            </div>    <!-- Modal content-->
            <div class="modal-body">
                <h3>รหัสทรัพย์สิน : <span id="itemno"></span> <span id="itemname1"></span></h3><h4>รายละเอียดเพิ่มเติม : <span id="itemname2"></span></h4>    <h4>จำนวนทั้งหมด : <span id="quantity" style="color:red"></span></h4>
                <table id="example4" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>LogNo</th>
                            <th>Site</th>
                            <th>QTY.</th>
                            <th>Modifi date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <div id="newdata">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>รายการที่บันทึก (ทั้งหมด) </label>
                                <input type="number" class="form-control" id="total" style="text-align:right" placeholder="คงเหลือ" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>รายการคงเหลือ </label>
                                <input type="number" class="form-control" id="itemtotal" style="text-align:right" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>บันทึกข้อมูลไปยังหน่วยงาน <span style="color:red" id="site1"></span></label>
                                <input type="number" class="form-control" id="qty" style="text-align:right" onkeydown="checkdata()" placeholder="ระบุจำนวน" required />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>สถานะ </label>
                                <select id="selectType" class="form-control">
                                    <option value="ใช้งานได้">ใช้งาน</option>
                                    <option value="ชำรุด">ชำรุด</option>
                                    <option value="สูญหาย">สูญหาย</option>
                                    <option value="จำหน่าย">จำหน่าย</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>หมายเหตุ :</label>
                                <textarea id="etc" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--- กรณี เป็นการโอนย้ายระหว่างหน่วยงาน-->
                <div id="olddata">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h2>Ref. Log No : <span id="logno"></span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>รายการ Item ใน Site <span id="siteold" style="color:red"></span> </label>
                                <input type="number" class="form-control" id="totalold" style="text-align:right" placeholder="คงเหลือ" readonly />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>จำนวนที่โอนได้ </label>
                                <input type="number" class="form-control" id="itemtotalold" style="text-align:right" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>โอนไปยัง <span style="color:red" id="siteold1"></span></label>
                                <input type="number" class="form-control" id="qtyold" style="text-align:right" onkeydown="checkdata()" placeholder="ระบุจำนวน" required />
                            </div>
                        </div>


                        <div class="col-xs-6 col-md-6">
                            <div class="form-group">
                                <label>สถานะ </label>
                                <select id="selectTypeold" class="form-control">
                                    <option value="ใช้งานได้">ใช้งาน</option>
                                    <option value="ชำรุด">ชำรุด</option>
                                    <option value="สูญหาย">สูญหาย</option>
                                    <option value="จำหน่าย">จำหน่าย</option>

                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>หมายเหตุ :</label>
                                <textarea id="etcold" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="senddata" onclick="SubmitData();">ยืนยัน</button>
                <button type="button" class="btn btn-info" id="sendOldData" onclick="SubmitOldData();">ยืนยัน</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>




            </div>
        </div>
    </div>
</div>

@section Scripts {




    <script>
        // Get the input field
        var input = document.getElementById("qty");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                SubmitData();
            }
        });
    </script>

    <script>
        function checkdata() {
            var total = parseFloat(document.getElementById('itemtotal').value);
            var qty = parseFloat(document.getElementById('qty').value);

            if (qty == 0) {
                swal({
                    title: "Error",
                    text: "จำนวนห้ามเท่ากับ 0",
                    icon: "warning",
                    button: "ตกลง",
                });
                document.getElementById('qty').value = '';
                //document.getElementById('qty').focus();
                return 0;
            }
            if (qty > total) {
                swal({
                    title: "Error",
                    text: "สามารถเพิ่มจำนวนได้ น้อยกว่าหรือเท่ากับ " + total,
                    icon: "warning",
                    button: "ตกลง",
                });



                document.getElementById('qty').value = '';

                //document.getElementById('qty').focus();
                return 0;
            }
        }
    </script>


    <script>
        function SubmitData() {
            if (checkdata() == 0) {
                return;
            }

            var qty = document.getElementById("qty").value;
            var site = document.getElementById("site").innerText;
            var quantity = document.getElementById("quantity").innerText;
            var fixassetno = document.getElementById("itemno").innerText;
            var itemname1 = document.getElementById("itemname1").innerText;
            var itemname2 = document.getElementById("itemname2").innerText;
            var etc = document.getElementById("etc").value;
            var selectType = document.getElementById("selectType").value;

            $.ajax({
                type: "GET",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: { FixAccNo: fixassetno, FixAssetName: itemname1, FixAssetName1: itemname2, SiteName: site, qty: qty, TransectionEtc: etc, TransectionType: selectType },
                url: "/FixAssetNAV/TransectionData/",
                //?FixAccNo="+fixassetno+"&FixAssetName="+itemname1+"&FixAssetName1="+itemname2+"&SiteName="+site+"&qty="+qty
                success: function (response) {
                    //swal({
                    //    title: "เลือกสำเร็จ!",
                    //    text: "",
                    //    icon: "success",
                    //    button: "ตกลง",
                    //});
                    document.getElementById('qty').value = '';
                    document.getElementById('qty').focus();
                    document.getElementById('etc').value = '';
                    $('#myModalItem').modal('hide');

                    table.ajax.reload();
                },
                failure: function (response) {
                    swal({
                        title: "ไม่สำเร็จ!",
                        text: "กรุณาทำรายการใหม่อีกครั้ง",
                        icon: "warning",
                        button: "ตกลง",
                    });
                }
            });
        }




        ///datatable get data ออกมาทำ Table หลัก
        var dataType = 'application/json; charset=utf-8';
        table = $('#example').DataTable({
            destroy: true,
            //scrollY:        "300px",
            //scrollX: true,
            "language": {
                "decimal": ",",
                "thousands": "."
            },
            colReorder: {
                realtime: true
            },
            "order": [[1, "asc"]],
            "pageLength": 50,
            //fixedHeader: true,
            //filter: false,
            //responsive: true,
            select: {
                style: 'os',
                blurable: true
            },
            dom: 'Bfrtip',
            //stateSave: true,
            buttons: [
                {
                    extend: 'colvis',
                    text: '<i class="fa fa-eye"></i> ซ่อน/แสดง',
                    //messageTop: "รายงาน PV&AP : " + StartDate1 + "-" + StartDate2,
                    titleAttr: 'Hide',
                    postfixButtons: ['colvisRestore']
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i> PDF',
                    titleAttr: 'PDF',
                    pageSize: 'A4',   // ขนาดหน้ากระดาษเป็น A4
                    orientation: 'landscape',
                    //messageTop: "รายงาน PV&AP : " + StartDate1 + "-" + StartDate2,
                    customize: function (doc) {
                        doc.defaultStyle = {
                            font: 'THSarabun',
                            fontSize: '10',
                        };
                        var now = new Date();
                        var jsDate = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns:
                                    [
                                        {
                                            alignment: 'center',
                                            text: ['Created on: ', { text: jsDate.toString() }]
                                        },
                                        {
                                            alignment: 'right',
                                            text: ['page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                        }
                                    ],
                                margin: 10
                            }
                        });
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i> Excel',
                    titleAttr: 'Excel',
                    //messageTop: "รายงาน PV&AP : " + StartDate1 + "-" + StartDate2,
                    autoFilter: true
                },
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i> Copy',
                    titleAttr: 'Copy'
                },
                {
                    text: 'JSON',
                    action: function (e, dt, button, config) {
                        var data = dt.buttons.exportData();
                        $.fn.dataTable.fileSave(
                            new Blob([JSON.stringify(data)]),
                            'Export.json'
                        );
                    }
                }
            ],
            "ajax": {
                "url": "/FixAssetNAV/GetFixAccess",
                "contentType": dataType,
                "type": "GET",
                "data": function (response) {
                    return JSON.stringify(response.data);
                }

            },
            "columns": [
                { "data": "ActionData" },
                { "data": "FixAccNo" },
                { "data": "Description" },
                { "data": "Description2" },
                { "data": "RefPC" },
                { "data": "RefPCDetail" },
                { "data": "FALocation" },
                { "data": "FAQty" },
                { "data": "FATransfer" }

            ]
        });

        // #column3_search is a <input type="text"> element
        $('#column3_search').on('keyup', function () {
            table
                .columns(4)
                .search(this.value)
                .draw();
        });
        // #column0_search is a <input type="text"> element
        $('#column0_search').on('keyup', function () {
            table
                .columns(1)
                .search(this.value)
                .draw();
        });








        ///อัพเดทตาราง NAV To Database Owner
        function updatedata() {
            toastr.info("กำลังค้นหาข้อมูล");
            document.getElementById("popup").style.display = "block";
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                dataType: 'JSON',

                url: '/FixAssetNAV/UpdateDataAsync',

                complete: function () {
                    toastr.success("ค้นหาข้อมูลเรียบร้อย!");
                    document.getElementById("popup").style.display = "none";
                    location.reload();
                },
                success: function (response) {

                }
            });
        }




        //GetData to Modal  เช็ค PC ว่ามีของเท่าไหร่
        function selectDetail(appid) {
            var item = appid.getAttribute("data-animal-type");
            //var date1 = appid.getAttribute("data-date1-type");
            var itemname = appid.getAttribute("data-item-type");
            document.getElementById("title").innerHTML = item + " " + itemname;
            var dataType = 'application/json; charset=utf-8';
            table1 = $('#example1').DataTable({
                destroy: true,
                columnDefs:
                    [
                        {
                            targets: -1,
                            className: 'dt-body-right'
                        }
                    ],
                "language": {
                    "decimal": ",",
                    "thousands": "."
                },
                responsive: true,
                dom: 'Bfrtip',
                buttons: [

                    {
                        extend: 'colvis',
                        text: '<i class="fa fa-eye"></i> ซ่อน/แสดง',
                        messageTop: item + " " + itemname,
                        titleAttr: 'Hide',
                        postfixButtons: ['colvisRestore']
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i> PDF',
                        titleAttr: 'PDF',
                        pageSize: 'A4',   // ขนาดหน้ากระดาษเป็น A4
                        //orientation: 'landscape',
                        messageTop: item + " " + itemname,
                        customize: function (doc) {
                            doc.defaultStyle = {
                                font: 'THSarabun',
                                fontSize: '12',

                            };
                            var now = new Date();
                            var jsDate = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns:
                                        [
                                            {
                                                alignment: 'center',
                                                text: ['Created on: ', { text: jsDate.toString() }]
                                            },
                                            {
                                                alignment: 'right',
                                                text: ['page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                            }
                                        ],
                                    margin: 10
                                }
                            });
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i> Excel',
                        titleAttr: 'Excel',
                        messageTop: item + " " + itemname,
                        autoFilter: true
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i> Copy',
                        titleAttr: 'Copy'

                    },
                    {
                        text: 'JSON',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();
                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Export.json'
                            );
                        }
                    },
                    {
                        extend: 'selectAll'
                    },
                    {
                        extend: 'selectNone'
                    }
                ],
                "ajax": {
                    "url": "/FixAssetNAV/ItemBySite/?itemno=" + item,
                    "contentType": dataType,
                    "type": "GET",
                    "data": function (response) {
                        return JSON.stringify(response.data);
                    }

                },

                "columns": [
                    { "data": "LocationCode" },
                    { "data": "Total" }
                ]
            });
            $('#myModal').modal();
        }







        //Get Data to Modal ฟอร์มอัพเดท
        function selectData(appid) {
            var site = document.getElementById("joblist").value;
            var item = appid.getAttribute("data-fixaccno-type");
            //var date1 = appid.getAttribute("data-date1-type");
            var itemname = appid.getAttribute("data-fixaccessdetail-type");
            var itemname2 = appid.getAttribute("data-fixaccessdetail2-type");
            var qty = parseFloat(appid.getAttribute("data-qty-type"));
            document.getElementById("itemno").innerHTML = item;
            document.getElementById("itemname1").innerHTML = itemname;
            document.getElementById("itemname2").innerHTML = itemname2;
            document.getElementById("quantity").innerHTML = qty;
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                dataType: 'JSON',

                url: "/FixAssetNAV/GenDetailItem/?id=" + item,

                complete: function () {

                },
                success: function (response) {
                    document.getElementById('total').value = response.sumdata;
                    document.getElementById('itemtotal').value = qty - response.sumdata;
                }
            });


            var dataType = 'application/json; charset=utf-8';
            table2 = $('#example4').DataTable({
                destroy: true,
                columnDefs:
                    [
                        {
                            targets: -1,
                            className: 'dt-body-right'
                        }
                    ],
                "language": {
                    "decimal": ",",
                    "thousands": "."
                },
                responsive: true,
                dom: 'Bfrtip',
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i> PDF',
                        titleAttr: 'PDF',
                        pageSize: 'A4',   // ขนาดหน้ากระดาษเป็น A4
                        //orientation: 'landscape',
                        messageTop: item + " " + itemname,
                        customize: function (doc) {
                            doc.defaultStyle = {
                                font: 'THSarabun',
                                fontSize: '12',

                            };
                            var now = new Date();
                            var jsDate = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns:
                                        [
                                            {
                                                alignment: 'center',
                                                text: ['Created on: ', { text: jsDate.toString() }]
                                            },
                                            {
                                                alignment: 'right',
                                                text: ['page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                            }
                                        ],
                                    margin: 10
                                }
                            });
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i> Excel',
                        titleAttr: 'Excel',
                        messageTop: item + " " + itemname,
                        autoFilter: true
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i> Copy',
                        titleAttr: 'Copy'

                    },
                    {
                        text: 'JSON',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();
                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Export.json'
                            );
                        }
                    }

                ],
                "ajax": {
                    "url": "/FixAssetNAV/GenDetailItem/?id=" + item,
                    "contentType": dataType,
                    "type": "GET",
                    "data": function (response) {
                        return JSON.stringify(response.data);
                    }

                },

                "columns": [
                    { "data": "TranSectionFixAssetId" },
                    { "data": "site" },
                    { "data": "FixAssetQty" },
                    { "data": "TransectionDate" },
                    { "data": "TransectionType" },
                    { "data": "ActionData" }
                ]
            });
            $('#myModalItem').modal();
            document.getElementById("site").innerHTML = site;
            document.getElementById("qty").focus();
            document.getElementById("site1").innerHTML = site;
            document.getElementById("newdata").style.display = "block";
            document.getElementById("olddata").style.display = "none";
            document.getElementById("senddata").style.display = "block";
            document.getElementById("sendOldData").style.display = "none";
        }

    </script>

    <script>
        function reclassdata(appdata) {


            document.getElementById("newdata").style.display = "none";
            document.getElementById("olddata").style.display = "block";
            document.getElementById("senddata").style.display = "none";
            document.getElementById("sendOldData").style.display = "block";


            var id = appdata.getAttribute("data-dataId-type");
            var sitedata = appdata.getAttribute("data-site-type");
            var item = appdata.getAttribute("data-fixaccno-type");
            var qty = appdata.getAttribute("data-qty-type");
            var site = document.getElementById("joblist").value;
            document.getElementById("siteold").innerHTML = sitedata;
            document.getElementById("itemno").innerHTML = item;
            document.getElementById("itemtotalold").value = qty;
            document.getElementById("totalold").value = qty;

            document.getElementById('logno').innerHTML = id;



            document.getElementById("siteold1").innerHTML = site;

            $.ajax({
                type: 'GET',
                contentType: "application/json",
                dataType: 'JSON',

                url: "/FixAssetNAV/TransferBysite/?id=" + id + "&site=" + sitedata + "&item=" + item + "&qty=" + qty,

                complete: function () {

                },
                success: function (response) {
                    document.getElementById('etcold').value = response.TransectionEtc;
                    document.getElementById('selectTypeold').value = response.TransectionType;
                    //document.getElementById('logid').value = resizeBy.TranSectionFixAssetId;
                }
            });
        }
    </script>

    <script>
        function SubmitOldData() {

            var id = document.getElementById('logno').innerHTML;
            var qtyold = document.getElementById('qtyold').value;
            var selectTypeold = document.getElementById('selectTypeold').value;
            var etcold = document.getElementById('etcold').value;
            var site = document.getElementById("joblist").value;
            if (checkdataold() == 0) {
                return;
            }
            $.ajax({
                type: 'GET',
                contentType: "application/json",
                dataType: 'JSON',
                url: "/FixAssetNAV/TransferBysiteConfirm/?id=" + id + "&site=" + site + "&qty=" + qtyold + "&etc=" + etcold + "&selectType=" + selectTypeold,
                complete: function () {

                },
                success: function (response) {

                    //document.getElementById('etcold').value = response.TransectionEtc;
                    //document.getElementById('selectTypeold').value = response.TransectionType;
                    //document.getElementById('logid').value = resizeBy.TranSectionFixAssetId;
                    document.getElementById('qtyold').value = '';
                    //document.getElementById('qty').focus();
                    //document.getElementById('etcold').value = '';


                    table.ajax.reload();
                },
                failure: function (response) {
                    swal({
                        title: "ไม่สำเร็จ!",
                        text: "กรุณาทำรายการใหม่อีกครั้ง",
                        icon: "warning",
                        button: "ตกลง",
                    });
                }
            });
           // alert("สวัสดี");
            $('#myModalItem').modal('hide');
        }



    </script>
    <script>
        function checkdataold() {
            var total = parseFloat(document.getElementById('itemtotalold').value);
            var qty = parseFloat(document.getElementById('qtyold').value);

            if (qty == 0) {
                swal({
                    title: "Error",
                    text: "จำนวนห้ามเท่ากับ 0",
                    icon: "warning",
                    button: "ตกลง",
                });
                document.getElementById('qty').value = '';
                //document.getElementById('qty').focus();
                return 0;
            }
            if (qty > total) {
                swal({
                    title: "Error",
                    text: "สามารถเพิ่มจำนวนได้ น้อยกว่าหรือเท่ากับ " + total,
                    icon: "warning",
                    button: "ตกลง",
                });



                document.getElementById('qtyold').value = '';

                //document.getElementById('qty').focus();
                return 0;
            }
        }
    </script>



    <script>
        // Get the input field
        var input1 = document.getElementById("qtyold");

        // Execute a function when the user releases a key on the keyboard
        input1.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                SubmitOldData();
            }
        });
    </script>

}




