@model CESAPSCOREWEBAPP.Models.Blog

@{
    IEnumerable<BlogPic> blogPics = ViewData["BlogPic"] as IEnumerable<BlogPic>;
}
@{
    ViewData["Title"] = "ลบข่าวสาร";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
                   + "<li>"
                   + "<a href='../../Home/Index'>Home</a>"
                   + "</li>"
                   + "<li>"
                   + "<a href='/Blogs/Index'>รายการข่าวสาร</a>"
                   + "</li>"
                   + "<li class='active'>"
                   + "<a>" + @ViewData["Title"] + "</a>"
                   + "</li>"
                   + "</ol>";
}


<div class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>ข้อมูลข่าวสาร</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">

                <dl class="dl-horizontal">
                    <dt>
                        หน้่าปกข่าวสาร
                    </dt>
                    <dd>
                        <img src="~/images/BlogTitle/512/@Html.DisplayFor(model => model.BlogPicTitle)" />
                    </dd>
                    <dt>
                        หัวข้อข่าว
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BlogTitle)
                    </dd>
                    <dt>
                        วันที่
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BlogDate)
                    </dd>


                    <dt>
                        รายละเอียด
                    </dt>
                    <dd>
                        @Html.Raw(Model.BlogDetail)
                    </dd>

                    <dt>ภาพ</dt>
                    <dd>
                        @foreach (BlogPic blogPic in blogPics)
                        {
                            <img src="~/images/Board/256/@blogPic.BlogPicName" />
                        }
                    </dd>


                </dl>
            </div>
        </div>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="BlogId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </form>

        </div>
    </div>
</div>


