
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        
        <div class="col-lg-12">
            <div class="tabs-container">

                <div class="tabs-left col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">1. รายงานสรุปค่าเช่าอุปกรณ์ก่อสร้าง<br />และเครื่องใช้สำนักงาน</a> </li>
                        <li class=""><a data-toggle="tab" href="#tab-2">2. รายงานรายละเอียดค่าเช่านั่งร้านเหล็ก</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">3. รายงานรายระเอียดค่าเช่าเครื่องมือกล</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4">4. สรุปค่าเช่าเครื่องจักรกล JOBCODE(GL)</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50044" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                <h2>คู่มือการเรียกรายงาน</h2>
                                <br />
                                <img src="~/Images/Slide1.jpg" class="img-thumbnail" />
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50044" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                <h2>คู่มือการเรียกรายงาน</h2>
                                <br />
                                <img src="~/Images/Slide2.jpg" class="img-thumbnail" />
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50044" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                <h2>คู่มือการเรียกรายงาน</h2>
                                <br />
                                <img src="~/Images/Slide3.jpg" class="img-thumbnail" />
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50097" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                <h2>คู่มือการเรียกรายงาน</h2>
                                <br />
                                <img src="~/Images/Slide4.jpg" class="img-thumbnail" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

     
    </div>

</div>
