@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Stock Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">

            <div class="col-lg-12">
                <div class="tabs-container">

                    <div class="tabs-left col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">1. รายงานเลขที่คุมเอกสารใบส่ง</a> </li>
                            <li class=""><a data-toggle="tab" href="#tab-2">2. รายงานเลขที่คุมเอกสารใบรับ(ร้านค้า)</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">3. รายงานเลขที่คุมเอกสารใบรับ(หน่วยงาน)</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">4. Stock Card Cost</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5">5. รายงานสินค้าที่สโตร์รับสินค้าจากร้านค้า</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-6">6. สรุปสินค้าที่สโตร์รับจากหน่วยงาน</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-7">7. สรุปสินค้าที่สโตร์ส่งให้หน่วยงาน</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50045" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock1.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50045" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock2.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50045" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock3.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50065" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock4.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50099" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock5.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50099" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock6.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                            <div id="tab-7" class="tab-pane">
                                <div class="panel-body">
                                    <div class="col-lg-12"> <a href="dynamicsnav://ces-erp.ces.co.th:9046/CESNAV2016//runreport?report=50099" class="btn btn-info pull-right"><i class="fa fa-paper-plane"> </i> เรียกรายงาน</a></div>
                                    <h2>คู่มือการเรียกรายงาน</h2>
                                    <br />
                                    <img src="~/Images/stock7.jpg" class="img-thumbnail" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>