@model CESAPSCOREWEBAPP.Models.LineAPI

@{
    ViewData["Title"] = "Edit Line API Setting";
    ViewData["Tab"] = "<ol class='breadcrumb'>"
             + "<li>"
             + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'>หน้าหลัก</a>"
             + "</li>"
             + "<li>"
             + "<a href='/CaseBPCs/Index' data-toggle='tooltip' data-placement='top' title='List'>Line API</a>"
             + "</li>"
             + "<li class='active'>"
             + "<b><a data-toggle='tooltip' data-placement='top' title='Add Line API Setting'>" + @ViewData["Title"] + "</a></b>"
             + "</li>"
             + "</ol>";
}

<div class="col-sm-6 col-lg-6 col-md-6 col-lg-offset-3">
<div class="ibox ">
    <div class="ibox-title">
        <h5>@ViewData["Title"]</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>

            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="LineToken" class="control-label"></label>
                        <input asp-for="LineToken" class="form-control" />
                        <span asp-validation-for="LineToken" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Detail" class="control-label"></label>
                        <input asp-for="Detail" class="form-control" />
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select asp-for="onOff" class="form-control" asp-items="Html.GetEnumSelectList<LineAPI.OnOff>()"></select>
                        <span asp-validation-for="onOff" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

        <div>
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
