@model CESAPSCOREWEBAPP.Models.ManualCat

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ManualCat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManualCatId" />
            <div class="form-group">
                <label asp-for="ManualCatName" class="control-label"></label>
                <input asp-for="ManualCatName" class="form-control" />
                <span asp-validation-for="ManualCatName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ManualCatDate" class="control-label"></label>
                <input asp-for="ManualCatDate" class="form-control" />
                <span asp-validation-for="ManualCatDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManualCatUser" class="control-label"></label>
                <input asp-for="ManualCatUser" class="form-control" />
                <span asp-validation-for="ManualCatUser" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
